torch==1.0.0
allennlp==0.8.1
spacy==2.1.4
nltk
symspellpy
redis==2.10.6
pymongo==3.7.1
gevent==1.2.2
klein==17.10.0
hyperlink==17.3.1
boto3==1.5.20
typing==3.6.2
future==0.16.0
six==1.11.0
jsonschema==2.6.0
matplotlib==2.1.0
requests==2.18.4
tqdm==4.19.5
numpy==1.14.5
simplejson==3.13.2
cloudpickle==0.5.2
msgpack-python==0.5.4
packaging==17.1
pyyaml==3.12
coloredlogs==9.0
python-coveralls==2.9.1
pytest-pep8==1.0.6
pytest-services==1.2.1
pytest-cov==2.5.1
pytest-twisted==1.6
pytest==3.3.2
treq==17.8.0
moto==1.2.0
mock==2.0.0
responses==0.9.0
httpretty==0.9.5
# other
google-cloud-storage==1.7.0
azure-storage-blob==1.0.0
scipy==1.1.0
scikit-learn==0.18.1
duckling==1.8.0
Jpype1==0.6.2
jieba==0.39
scipy==1.1.0
sklearn-crfsuite==0.3.6
tensorflow==1.8.0
flask==1.0.2
pandas==0.23.4
nameparser==1.0.4